body {background-color: black;}
h1 {font-style: oblique;font-size: 400%;margin-left: 27%;color: rgb(255, 0, 144);}
h2 {margin-left: 45%;color: rgb(255, 157, 217);}
#ima1 {margin-left: 38%;}
h3 {margin-left: 02%;color: rgb(255, 157, 217);font-size: 170%;}
#ima2 {margin-left: 03%;}
h4 {margin-left: 02%; color: rgb(255, 0, 144);font-size: 170%;}
h5 {margin-left: 31%;font-style: oblique; font-size: 125%;}